<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Dodaj Specifikaciju" (click)="addNew()"
    ><span jhiTranslate="tenderiApp.specifikacije.detail.addSpecification">Add specifation</span></mat-button-toggle
  >
  <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Napravi formu za unos Excel" (click)="DownloadExcel()"
    >Napravi Obrazac</mat-button-toggle
  >
  <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="uploadFile()" matTooltip="Unesi Excel fajl">Dodaj Fajl</mat-button-toggle>
  <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Nadji Excel fajl" (click)="fileInput.click()"
    >Nadji Fajl</mat-button-toggle
  >
  <input hidden #fileInput type="file" id="file" />
</mat-button-toggle-group>
<mat-form-field class="container-search">
  <mat-icon matPrefix>search</mat-icon>
  <input type="search" (keyup)="doFilter(box.value)" #box matInput placeholder="" />
</mat-form-field>
<!--<jhi-alert-error></jhi-alert-error>-->
<jhi-alert></jhi-alert>
<div class="example-container mat-elevation-z8">
  <table mat-table id="ExampleTable" matTableExporter [dataSource]="dataSource" matSort matSortStart="desc">
    <ng-container matColumnDef="sifra postupka">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Postupka</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="broj partije">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Partije</th>
      <td mat-cell *matCellDef="let element">{{ element.brojPartije }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="atc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Atc</th>
      <td mat-cell *matCellDef="let element">{{ element.atc }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="inn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inn</th>
      <td mat-cell *matCellDef="let element">{{ element.inn }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="farmaceutski oblik">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Farmaceutski Oblik</th>
      <td mat-cell *matCellDef="let element">{{ element.farmaceutskiOblikLijeka }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="jacina lijeka">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Jacina Lijeka</th>
      <td mat-cell *matCellDef="let element">{{ element.jacinaLijeka }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="trazena kolicina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kolicina</th>
      <td mat-cell *matCellDef="let element">{{ element.trazenaKolicina }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="pakovanje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pakovanje</th>
      <td mat-cell *matCellDef="let element">{{ element.pakovanje }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="jedinica mjere">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Jedinica Mjere</th>
      <td mat-cell *matCellDef="let element">{{ element.jedinicaMjere }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="procijenjena vrijednost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Procijenjena Vrijednost</th>
      <td mat-cell *matCellDef="let element">{{ element.procijenjenaVrijednost | number: '1.2-2' }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="delete" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *jhiHasAnyAuthority="'ROLE_ADMIN'" id="delete" type="submit" (click)="delete(element)">delete </mat-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          id="edit"
          (click)="
            startEdit(
              element.id,
              element.sifraPostupka,
              element.brojPartije,
              element.atc,
              element.inn,
              element.farmaceutskiOblikLijeka,
              element.jacinaLijeka,
              element.trazenaKolicina,
              element.pakovanje,
              element.jedinicaMjere,
              element.procijenjenaVrijednost
            )
          "
          >edit</mat-icon
        >
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr class="heder" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
