<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tenderiHome">
      <h2 data-cy="tenderiHomeDetailsHeading"><span jhiTranslate="tenderiApp.tenderiHome.detail.title">Tenderi Home</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tenderiHome.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
