<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="dunkles" checked />
  <label for="tab1">Specifikacije</label>

  <input type="radio" name="tabset" id="tab2" aria-controls="dunkles" />
  <label for="tab2">Ponude</label>
  <input type="radio" name="tabset" id="tab3" aria-controls="dunkles" />
  <label for="tab3">Bodovanje</label>

  <input type="radio" name="tabset" id="tab4" aria-controls="dunkles" />
  <label for="tab4">Prvorangirani</label>

  <input type="radio" name="tabset" id="tab5" aria-controls="dunkles" />
  <label matTooltip="Nije prilozena nijedna ponuda ili je neispavna, pi ih treba ponovo raspisati" for="tab5">Hvale</label>

  <input type="radio" name="tabset" id="tab6" aria-controls="dunkles" />
  <label for="tab6">Ugovori</label>

  <div class="tab-panels">
    <section id="marzen" class="tab-panel">
      <jhi-specifikacije></jhi-specifikacije>
    </section>
    <section id="view_ponude" class="tab-panel">
      <jhi-view-ponude></jhi-view-ponude>
    </section>

    <section id="dunkles" class="tab-panel">
      <jhi-view-vrednovanje></jhi-view-vrednovanje>
    </section>
    <section id="prvorangirani" class="tab-panel">
      <jhi-prvorangirani></jhi-prvorangirani>
    </section>
    <section id="hvale" class="tab-panel">
      <jhi-hvale-ponude></jhi-hvale-ponude>
    </section>
    <section id="ugovori" class="tab-panel">
      <jhi-ugovor></jhi-ugovor>
    </section>
  </div>
</div>
