<h2 mat-dialog-title>Ponude</h2>
<mat-dialog-content class="mat-typography">
  <jhi-alert-error></jhi-alert-error>
  <form name="editForm" role="form" novalidate [formGroup]="editForm" (ngSubmit)="confirmAdd()">
    <mat-form-field>
      <input matInput placeholder="sifra postupka" formControlName="sifraPostupka" name="sifraPostupka" />
      <div
        *ngIf="editForm.get('sifraPostupka')!.invalid && (editForm.get('sifraPostupka')!.dirty || editForm.get('sifraPostupka')!.touched)"
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('sifraPostupka')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="sifra ponude" formControlName="sifraPonude" name="sifraPonude" />
      <div *ngIf="editForm.get('sifraPonude')!.invalid && (editForm.get('sifraPonude')!.dirty || editForm.get('sifraPonude')!.touched)">
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('sifraPonude')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Broj Partije" formControlName="brojPartije" name="brojPartije" />
      <div *ngIf="editForm.get('brojPartije')!.invalid && (editForm.get('brojPartije')!.dirty || editForm.get('brojPartije')!.touched)">
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('brojPartije')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ponudjaci</mat-label>
      <mat-select formControlName="sifraPonudjaca">
        <mat-option></mat-option>
        <mat-option *ngFor="let foo of ponudjacis" [value]="foo.id">
          {{ foo.nazivPonudjaca }}
        </mat-option>
      </mat-select>

      <div
        *ngIf="
          editForm.get('sifraPonudjaca')!.invalid && (editForm.get('sifraPonudjaca')!.dirty || editForm.get('sifraPonudjaca')!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('sifraPonudjaca')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Naziv Proizvodjaca" formControlName="nazivProizvodjaca" name="nazivProizvodjaca" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Zastceni Naziv" formControlName="zasticeniNaziv" name="zasticeniNaziv"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ponudjena Cijena" formControlName="ponudjenaVrijednost" name="ponudjenaVrijednost" />
      <div
        *ngIf="
          editForm.get('ponudjenaVrijednost')!.invalid &&
          (editForm.get('ponudjenaVrijednost')!.dirty || editForm.get('ponudjenaVrijednost')!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('ponudjenaVrijednost')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>
    <mat-form-field>
      <input name="myDate" matInput [matDatepicker]="picker3" placeholder="Datum ponude" formControlName="datumPonude" />
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Rok Isporuke" formControlName="rokIsporuke" name="rokIsporuke" />
      <div *ngIf="editForm.get('rokIsporuke')!.invalid && (editForm.get('rokIsporuke')!.dirty || editForm.get('rokIsporuke')!.touched)">
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('rokIsporuke')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-raised-button color="warn" (click)="close()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>
  <button
    [hidden]="aktivno == false"
    id="sacuvaj-button"
    mat-raised-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
  </button>
  <button
    type="submit"
    [disabled]="editForm.invalid"
    [hidden]="aktivno == true"
    mat-raised-button
    color="primary"
    (click)="confirmAdd()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;
    <span jhiTranslate="entity.action.add">Add</span>
  </button>
</mat-dialog-actions>
