<h2 mat-dialog-title>Ponudjaci</h2>
<mat-dialog-content [formGroup]="editForm" class="mat-typography">
  <jhi-alert-error></jhi-alert-error>
  <mat-form-field>
    <input matInput placeholder="naziv Ponudjaca" formControlName="nazivPonudjaca" />
    <div
      *ngIf="editForm.get('nazivPonudjaca')!.invalid && (editForm.get('nazivPonudjaca')!.dirty || editForm.get('nazivPonudjaca')!.touched)"
    >
      <small
        class="form-text text-danger"
        *ngIf="editForm.get('nazivPonudjaca')?.errors?.required"
        jhiTranslate="entity.validation.required"
      >
        Obavezno polje.
      </small>
    </div>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Odgovorno Lice" formControlName="odgovornoLice" />
    <div *ngIf="editForm.get('odgovornoLice')!.invalid && (editForm.get('odgovornoLice')!.dirty || editForm.get('odgovornoLice')!.touched)">
      <small
        class="form-text text-danger"
        *ngIf="editForm.get('odgovornoLice')?.errors?.required"
        jhiTranslate="entity.validation.required"
      >
        Obavezno polje.
      </small>
    </div>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="adresaPonudjaca" formControlName="adresaPonudjaca" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="bankaRacun" formControlName="bankaRacun" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-raised-button color="warn" (click)="close()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>
  <button
    [hidden]="aktivno == false"
    id="sacuvaj-button"
    mat-raised-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
  </button>
  <button
    type="submit"
    [disabled]="editForm.invalid"
    [hidden]="aktivno == true"
    mat-raised-button
    color="primary"
    (click)="confirmAdd()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;
    <span jhiTranslate="entity.action.add">Add</span>
  </button>
</mat-dialog-actions>
