<h2 mat-dialog-title>Podaci o Naruciocu</h2>
<mat-dialog-content [formGroup]="editForm" class="mat-typography">
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>
          <div>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Naziv Narucioca"
                name="naziv"
                id="field_naziv"
                data-cy="naziv"
                formControlName="naziv"
              />
              <div *ngIf="editForm.get('naziv')!.invalid && (editForm.get('naziv')!.dirty || editForm.get('naziv')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('naziv')?.errors?.required"
                  jhiTranslate="entity.validation.required"
                >
                  This field is required.
                </small>
              </div>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input placeholder="Adresa" matInput type="text" name="adresa" id="field_adresa" data-cy="adresa" formControlName="adresa" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput type="text" placeholder="Racun" name="racun" id="field_racun" data-cy="racun" formControlName="racun" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Telefon"
                name="telefon"
                id="field_telefon"
                data-cy="telefon"
                formControlName="telefon"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput type="text" placeholder="Pib" name="pib" id="field_pib" data-cy="pib" formControlName="pib" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput type="text" placeholder="Pdv" name="pdv" id="field_pdv" data-cy="pdv" formControlName="pdv" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Odgovorno Lice"
                name="odgovornoLiceNarucioca"
                id="field_odgovornoLiceNarucioca"
                data-cy="odgovornoLiceNarucioca"
                formControlName="odgovornoLiceNarucioca"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput type="text" placeholder="Email" name="email" id="field_email" data-cy="email" formControlName="email" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-raised-button color="warn" (click)="previousState()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>

  <button
    [hidden]="aktivno == false"
    id="sacuvaj-button"
    mat-raised-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
  </button>
  <button
    type="submit"
    [disabled]="editForm.invalid"
    [hidden]="aktivno == true"
    mat-raised-button
    color="primary"
    (click)="confirmAdd()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;
    <span jhiTranslate="entity.action.add">Add</span>
  </button>
</mat-dialog-actions>
