<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Dodaj Ugovor" (click)="addNew()">Dodaj Ugovor</mat-button-toggle>
</mat-button-toggle-group>
<mat-divider></mat-divider>
<!--<jhi-alert-error></jhi-alert-error>-->
<jhi-alert></jhi-alert>
<mat-card class="example-container mat-elevation-z24">
  <table mat-table id="ExampleTable" matTableExporter [dataSource]="dataSource" matSort matSortStart="desc">
    <ng-container matColumnDef="sifra postupka">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Postupka</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="sifra ponude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponude</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPonude }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="sifra ponudjaca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjac</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPonudjaca }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="broj ugovora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Ugovora</th>
      <td mat-cell *matCellDef="let element">{{ element.brojUgovora }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="datum ugovora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Ugovora</th>
      <td mat-cell *matCellDef="let element">{{ element.datumUgovora }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="broj odluke">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Odluke</th>
      <td mat-cell *matCellDef="let element">{{ element.brojOdluke }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="datum odluke">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Odluke</th>
      <td mat-cell *matCellDef="let element">{{ element.datumOdluke }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="iznos ugovora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Iznos Ugovora</th>
      <td mat-cell *matCellDef="let element">{{ element.iznosUgovoraBezPdf }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="delete" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *jhiHasAnyAuthority="'ROLE_ADMIN'" id="delete" type="submit" (click)="delete(element)">delete</mat-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          id="edit"
          (click)="
            startEdit(
              element.id,
              element.sifraPostupka,
              element.sifraPonude,
              element.sifraPonudjaca,
              element.iznosUgovoraBezPdf,
              element.brojUgovora,
              element.brojOdluke,
              element.datumOdluke,
              element.datumUgovora
            )
          "
          >edit</mat-icon
        >
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matTooltip="Stampaj Ugovor" matColumnDef="print" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          matTooltip="Stampaj Ugovor"
          class="printer"
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          id="print"
          type="submit"
          (click)="printUgovor(element.brojUgovora)"
          >print</mat-icon
        >
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="print-prvorangirani" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          matTooltip="Stampaj Anex"
          class="printer-prvorangirani"
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          id="print-prvorangirani"
          type="submit"
          (click)="printUgovorAnex(element.sifraPostupka, element.sifraPonude)"
          >print</mat-icon
        >
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
