<div id="conteiner" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-container mat-elevation-z24">
    <mat-card-title>Registracija</mat-card-title>

    <form name="form" role="form" [formGroup]="registerForm" *ngIf="!success">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Korisnik</mat-label>
          <input matInput name="login" id="login" placeholder="" formControlName="login" #login />
        </mat-form-field>

        <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('login')?.errors?.required"
            jhiTranslate="register.messages.validate.login.required"
          >
            Your username is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('login')?.errors?.minlength"
            jhiTranslate="register.messages.validate.login.minlength"
          >
            Your username is required to be at least 1 character.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('login')?.errors?.maxlength"
            jhiTranslate="register.messages.validate.login.maxlength"
          >
            Your username cannot be longer than 50 characters.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('login')?.errors?.pattern"
            jhiTranslate="register.messages.validate.login.pattern"
          >
            Your username can only contain letters and digits.
          </small>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>E Mail</mat-label>
          <input matInput name="email" id="email" placeholder="" formControlName="email" #email />
        </mat-form-field>

        <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('email')?.errors?.required"
            jhiTranslate="global.messages.validate.email.required"
          >
            Your email is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('email')?.errors?.invalid"
            jhiTranslate="global.messages.validate.email.invalid"
          >
            Your email is invalid.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('email')?.errors?.minlength"
            jhiTranslate="global.messages.validate.email.minlength"
          >
            Your email is required to be at least 5 characters.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('email')?.errors?.maxlength"
            jhiTranslate="global.messages.validate.email.maxlength"
          >
            Your email cannot be longer than 100 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Sifra</mat-label>
          <input matInput name="password" id="password" placeholder="" formControlName="password" #lpassword />
        </mat-form-field>
        <div
          *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('password')?.errors?.required"
            jhiTranslate="global.messages.validate.newpassword.required"
          >
            Your password is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('password')?.errors?.minlength"
            jhiTranslate="global.messages.validate.newpassword.minlength"
          >
            Your password is required to be at least 4 characters.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('password')?.errors?.maxlength"
            jhiTranslate="global.messages.validate.newpassword.maxlength"
          >
            Your password cannot be longer than 50 characters.
          </small>
        </div>

        <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Potvrdi sifru</mat-label>
          <input matInput name="confirmPassword" id="confirmPassword" placeholder="" formControlName="confirmPassword" #confirmPassword />
        </mat-form-field>
        <div
          *ngIf="
            registerForm.get('confirmPassword')!.invalid &&
            (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('confirmPassword')?.errors?.required"
            jhiTranslate="global.messages.validate.confirmpassword.required"
          >
            Your confirmation password is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
            jhiTranslate="global.messages.validate.confirmpassword.minlength"
          >
            Your confirmation password is required to be at least 4 characters.
          </small>
          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
            jhiTranslate="global.messages.validate.confirmpassword.maxlength"
          >
            Your confirmation password cannot be longer than 50 characters.
          </small>
        </div>
      </div>
    </form>
    <mat-card-actions>
      <button type="button" mat-raised-button color="warn" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button
        *ngIf="!success"
        type="button"
        (click)="register()"
        mat-raised-button
        color="primary"
        [disabled]="registerForm.invalid"
        jhiTranslate="register.form.button"
        data-cy="submit"
      >
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="row justify-content-center" fxLayout.xs="column">
  <div class="col-md-8">
    <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
      <strong>Registration saved!</strong> Please check your email for confirmation.
    </div>

    <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
      <strong>Registration failed!</strong> Please try again later.
    </div>

    <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
      <strong>Login name already registered!</strong> Please choose another one.
    </div>

    <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
      <strong>Email is already in use!</strong> Please choose another one.
    </div>

    <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
      The password and its confirmation do not match!
    </div>
  </div>
</div>
