<h2 mat-dialog-title>Specifikacije</h2>
<mat-dialog-content class="mat-typography">
  <jhi-alert-error></jhi-alert-error>
  <form name="editForm" role="form" novalidate [formGroup]="editForm">
    <mat-form-field>
      <input matInput placeholder="sifra postupka" formControlName="sifraPostupka" name="sifraPostupka" />
      <div
        *ngIf="editForm.get('sifraPostupka')!.invalid && (editForm.get('sifraPostupka')!.dirty || editForm.get('sifraPostupka')!.touched)"
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('sifraPostupka')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="broj partije" formControlName="brojPartije" name="brojPartije" />
      <div *ngIf="editForm.get('brojPartije')!.invalid && (editForm.get('brojPartije')!.dirty || editForm.get('brojPartije')!.touched)">
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('brojPartije')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="atc" formControlName="atc" name="atc" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="inn" formControlName="inn" name="inn"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Farmaceutski Oblik" formControlName="farmaceutskiOblikLijeka" name="farmaceutskiOblikLijeka" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Jacina Lijeka" formControlName="jacinaLijeka" name="jacinaLijeka" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Trazena Kolicina" formControlName="trazenaKolicina" name="trazenaKolicina" />
      <div
        *ngIf="
          editForm.get('trazenaKolicina')!.invalid && (editForm.get('trazenaKolicina')!.dirty || editForm.get('trazenaKolicina')!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('trazenaKolicina')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="pakovanje" formControlName="pakovanje" name="pakovanje" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="jedinica mjere" formControlName="jedinicaMjere" name="jedinicaMjere" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Procijenjena Vrijednost" formControlName="procijenjenaVrijednost" name="procijenjenaVrijednost" />
      <div
        *ngIf="
          editForm.get('procijenjenaVrijednost')!.invalid &&
          (editForm.get('procijenjenaVrijednost')!.dirty || editForm.get('procijenjenaVrijednost')!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="editForm.get('procijenjenaVrijednost')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-raised-button color="warn" (click)="close()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
  </button>
  <button
    [hidden]="aktivno == false"
    id="sacuvaj-button"
    mat-raised-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
  </button>
  <button
    type="submit"
    [disabled]="editForm.invalid"
    [hidden]="aktivno == true"
    mat-raised-button
    color="primary"
    (click)="confirmAdd()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    <fa-icon icon="save"></fa-icon>&nbsp;
    <span jhiTranslate="entity.action.add">Add</span>
  </button>
</mat-dialog-actions>
