.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: hidden;
  height: 800px;
}
.container-item {
  width: 350px;
  margin-top: 110px;
  margin-left: 120px;
}

h2 {
  font-weight: bold;
  color: black;
  font-size: 35px;
}
span {
  color: #e3321e;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
