<div>
  <mat-card class="example-container mat-elevation-z24">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Dodaj Postupak" (click)="addNew()">
        <span jhiTranslate="tenderiApp.postupci.detail.addProcess">Add Process</span></mat-button-toggle
      >
    </mat-button-toggle-group>
    <mat-divider></mat-divider>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="alert alert-warning" id="no-result" *ngIf="postupaks?.length === 0">
      <span>Nema zapisa</span>
    </div>
    <table mat-table id="ExampleTable" [dataSource]="dataSource" matSort matSortStart="desc">
      <ng-container matColumnDef="sifra postupka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Postupka</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/tenderi-home', element.sifraPostupka]">
          {{ element.sifraPostupka }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="broj tendera">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Tendera</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/tenderi-home', element.sifraPostupka]">
          {{ element.brojTendera }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="opis postupka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opis Postupka</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/tenderi-home', element.sifraPostupka]">
          {{ element.opisPostupka }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="vrsta postupka">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vrsta Postupka</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/tenderi-home', element.sifraPostupka]">
          {{ element.vrstaPostupka }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="datum objave">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum Objave</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/tenderi-home', element.sifraPostupka]">
          {{ element.datumObjave }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Star Column -->
      <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *jhiHasAnyAuthority="'ROLE_ADMIN'" id="delete" type="submit" (click)="delete(element)">delete</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            *jhiHasAnyAuthority="'ROLE_ADMIN'"
            id="edit"
            (click)="
              startEdit(
                element.id,
                element.sifraPostupka,
                element.brojTendera,
                element.opisPostupka,
                element.vrstaPostupka,
                element.datumObjave
              )
            "
            >edit</mat-icon
          >
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
